nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
  line-height: 10px;
}

#navbar_bottom_content p {
  margin-left: 0;
}

#navbar_top {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #E40C2B;
}
#logo_and_name {
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  line-height: 0px;
}

#navbar_top_content {
  min-width: 70%;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-inline: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navbar_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(198, 4, 40);
}

#navbar_bottom_content {
  min-width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar_top_right {
  height: 30px;
}

.icons {
  height: 100%;
  width: auto;
}

#button_player_login {
  width: 120px;
  height: 100%;
  background-color: white;
  color: #E40C2B;
  font-weight: 800;
  border: none;
  border-radius: 8px;
}

nav img {
  height: 60px;
}

.link_text {
  margin-inline: 20px;
}